.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.hide-text {
  color: #b3c5d7;
}

.show-text {
  color: black;
}

input {
  width: 10rem;
}

#board button {
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
  border-style: none;
  background-color: #b3c5d7;
}

#board button:active {
  background-color: #7392b7;
  color: #7392b7;
}

#board button:focus {
  outline: none;
}

.container {
  width: 100vw;
  height: 40vh;
  margin: auto;
  z-index: 10;
  top: 0px;
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container button {
  width: min-content;
}

#win {
  background-color: green;
}

#lose {
  background-color: red;
}

#root {
  text-align: center;
}
